@using TownUtilityBillSystemV2.Resources

@{
	ViewBag.Title = "About";
}
<h2>@Localization.About</h2>

<p>
	<span class="span-bold span-red">@Localization.TownUtilityBillSystem V2</span>
	<span>
		@Localization.AboutData_IsAWebAppThatHelps
	</span>
</p>
<p>
	<span>@Localization.AboutData_TheFirstRelease <b>@Localization.AboutData_FirstReleaseDate</b></span>
</p>
	

<p>
	<span class="span-bold span-red">
		@Localization.DongEnergy
	</span>
	<span>
		@Localization.AboutData_IsOneOfNorthernEurope
	</span>	
</p>

<p>
	<span>
		@Localization.AboutData_ChangeNameDate
	</span>
	<span class="span-bold span-red">
		@Localization.DongEnergy
	</span>
	<span>
		@Localization.AboutData_HasChangedNameTo
	</span>
	<span class="span-bold span-blue">
		@Localization.Orsted
	</span>
	<span>
		@Localization.AboutData_ChairmanСitation
	</span>
</p>
