@model TownUtilityBillSystemV2.Models.UtilityModels.UtilityModel
@using TownUtilityBillSystemV2.Resources

@{
	ViewBag.Title = "Show Utilities";

	int i = 0;
}

<div class="jumbotron">
	<h3 class="header-bold">@Localization.Utilities:</h3>
	<div class="row">
		<div class="col-md-6 margin-top-20">
			<a href="@Url.Action("ShowAllUtilitiesPrices", "Utility")" class="btn btn-primary btn-large btn-block">
				<span class=" glyphicon glyphicon-list"></span> @Localization.ShowAllUtilities
			</a>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-6 margin-top-20">
			<a href="@Url.Action("ShowUtility", "Utility", new { utilityName = @Model.Utilities[i].Name }, null)" class="btn btn-primary btn-large btn-block">
				<span class=" glyphicon glyphicon-flash"></span> @Model.Utilities[i++].ResourceName
			</a>
			<a href="@Url.Action("ShowUtility", "Utility", new { utilityName = @Model.Utilities[i].Name }, null)" class="btn btn-primary btn-large btn-block">
				<span class=" glyphicon glyphicon-tint"></span> @Model.Utilities[i++].ResourceName
			</a>
		</div>
		<div class="col-md-6 margin-top-20">
			<a href="@Url.Action("ShowUtility", "Utility", new { utilityName = @Model.Utilities[i].Name }, null)" class="btn btn-primary btn-large btn-block">
				<span class=" glyphicon glyphicon-asterisk"></span> @Model.Utilities[i++].ResourceName
			</a>
			<a href="@Url.Action("ShowUtility", "Utility", new { utilityName = @Model.Utilities[i].Name }, null)" class="btn btn-primary btn-large btn-block">
				<span class=" glyphicon glyphicon-fire"></span> @Model.Utilities[i].ResourceName
			</a>
		</div>

	</div>
	<h3 class="header-bold">@Localization.Meters:</h3>
	<div class="row">
		<div class="col-md-6 margin-top-20">
			<a href="@Url.Action("ShowAllMeterTypes", "Meter")" class="btn btn-primary btn-large btn-block btn-green">
				<span class=" glyphicon glyphicon-list"></span> @Localization.MeterTypes
			</a>
			<a href="@Url.Action("ShowSomeMeters", "Meter")" class="btn btn-primary btn-large btn-block btn-green">
				<span class=" glyphicon glyphicon-dashboard"></span> @Localization.Meters
			</a>
		</div>
		<div class="col-md-6 margin-top-20">
			<a href="@Url.Action("FindMetersByDetails", "Meter")" class="btn btn-primary btn-large btn-block btn-green">
				<span class=" glyphicon glyphicon-search"></span> @Localization.FindMeterByDetails
			</a>
			<a href="@Url.Action("FindMeterByAddress", "Meter")" class="btn btn-primary btn-large btn-block btn-green">
				<span class=" glyphicon glyphicon-search"></span> @Localization.FindMeterByAddress
			</a>
		</div>
	</div>
	<hr />
	<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
		<span class=" glyphicon glyphicon-arrow-left"></span> <strong>@Localization.BackToPreviousPage</strong>
	</a>
</div>
