@model TownUtilityBillSystemV2.Models.MeterModels.MeterModel
	@using TownUtilityBillSystemV2.Resources

@{
	ViewBag.Title = Localization.FindMetersByDetails;

	int rowNumber = 1;
}

<h2 class="header-bold"> @Localization.FindMetersByDetails (@Localization.Number.ToLower(), @Localization.Type.ToLower(), @Localization.Address.ToLower())</h2>
<h4>@Localization.TotalQuantity: @Model.TotalCount</h4>
<p>
	@using (Html.BeginForm("ShowFoundMeters", "Meter", FormMethod.Get))
	{
		@Html.TextBox("searchString") <input type="submit" value=@Localization.Search class="btn btn-primary btn-large" />
	}
</p>

<table class="table">
	<caption><strong> @Localization.SomeRandomMeters</strong></caption>
	<tr>
		<th>#</th>
		<th>@Localization.Serial #</th>
		<th>@Localization.Type</th>
		<th>@Localization.Utility</th>
		<th>@Localization.Release</th>
		<th>@Localization.Verification</th>
		<th>@Localization.Index</th>
		<th>@Localization.Town</th>
		<th>@Localization.Street</th>
		<th>@Localization.Building</th>
		<th>@Localization.FlatPart</th>
		<th>@Localization.Options</th>
	</tr>


	@foreach (var item in Model.Meters)
	{
		<tr>
			<td>@(rowNumber++)</td>
			<td>
				@Html.DisplayFor(model => item.SerialNumber)
			</td>
			<td>
				@Html.DisplayFor(model => item.MeterType.Name)
			</td>
			<td>
				@Html.DisplayFor(model => item.MeterType.Utility.ResourceName)
			</td>
			<td>
				@item.ReleaseDate.Year.ToString()<text>-</text>@item.ReleaseDate.Month.ToString()<text>-</text>@item.ReleaseDate.Day
			</td>
			<td>
				@item.VarificationDate.Year.ToString()<text>-</text>@item.VarificationDate.Month.ToString()<text>-</text>@item.VarificationDate.Day
			</td>
			<td>
				@Html.DisplayFor(model => item.Address.Index.Value)
			</td>
			<td>
				@Html.DisplayFor(model => item.Address.Town.Name)
			</td>
			<td>
				@Html.DisplayFor(model => item.Address.Street.Name)
			</td>
			<td>
				@Html.DisplayFor(model => item.Address.Building.Number)
			</td>

			@if (item.Address.FlatPart == null)
			{
				<td>
					<text>--</text>
				</td>
			}
			else if (!String.IsNullOrEmpty(item.Address.FlatPart.Name))
			{
				<td>
					@Html.DisplayFor(model => item.Address.FlatPart.Name)
				</td>
			}
			else if (item.Address.FlatPart.Number != 0 && !String.IsNullOrEmpty(item.Address.FlatPart.Number.ToString()))
			{
				<td>
					@Html.DisplayFor(model => item.Address.FlatPart.Number)
				</td>
			}

			<td>
				@Html.ActionLink(Localization.Edit, "EditMeter", new { meterId = item.Id }) |
				@Html.ActionLink(Localization.Data, "ShowMeterData", new { meterId = item.Id }) |
				@Html.ActionLink(Localization.Delete, "DeleteMeter", new { meterId = item.Id })
			</td>
		</tr>
	}
</table>

<div class="row">
	<div class="col-md-4 margin-top-20">
		<a href="@Url.Action("CreateMeter", "Meter")" class="btn btn-primary btn-large btn-block">
			<span class=" glyphicon glyphicon-plus-sign"></span> @Localization.Create
		</a>
	</div>
</div>
<hr />

<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
	<span class=" glyphicon glyphicon-arrow-left"></span> <strong> @Localization.BackToPreviousPage</strong>
</a>