@model TownUtilityBillSystemV2.Models.MeterModels.MeterModel
@using TownUtilityBillSystemV2.Resources

@{
	ViewBag.Title = Localization.FindMetersByDetails;
}

<h2 class="header-bold"> @Localization.FindMetersByDetails (@Localization.Number.ToLower(), @Localization.Type.ToLower(), @Localization.Address.ToLower())</h2>
<h4>@Localization.TotalQuantity: @Model.TotalCount</h4>
<p>
	@using (Html.BeginForm("ShowFoundMeters", "Meter", FormMethod.Get))
	{
		@Html.TextBox("searchString") <input type="submit" value=@Localization.Search class="btn btn-primary btn-large" />
	}
</p>
<br />
<p align="center"><strong>@Localization.SomeRandomMeters</strong></p>

@Html.Partial("~/Views/Meter/_MetersTablePartial.cshtml", Model)

<div class="row">
	<div class="col-md-4 margin-top-20">
		<a href="@Url.Action("CreateMeter", "Meter")" class="btn btn-primary btn-large btn-block">
			<span class=" glyphicon glyphicon-plus-sign"></span> @Localization.Create
		</a>
	</div>
</div>
<hr />

@Html.Partial("~/Views/Shared/_BackToPreviousPagePartial.cshtml")