@model TownUtilityBillSystemV2.Models.AddressModels.AddressModel
@using TownUtilityBillSystemV2.Resources

@{
	ViewBag.Title = Localization.FindMeterByAddress;
}

<br /><br />
<div class="row">
	<div id="addressForm" class="col-xs-4">
		<h3 class="header-bold">@Localization.FindMeterByAddress</h3>
		<div class="form-group">
			@if (ViewBag.TownList != null)
			{
				@Html.DropDownListFor(model => model.Town.Id, ViewBag.TownList as SelectList, Localization.SelectTown, new { @class = "form-control" })
			}
		</div>
		<div class="form-group">
			@Html.DropDownListFor(model => model.Street.Id, new SelectList(" "), Localization.SelectStreet, new { @class = "form-control" })
		</div>
		<div class="form-group">
			@Html.DropDownListFor(model => model.Building.Id, new SelectList(" "), Localization.SelectBuilding, new { @class = "form-control" })
		</div>
		<div class="form-group" style="visibility:hidden">
			@Html.DropDownListFor(model => model.FlatPart.Id, new SelectList(" "), Localization.SelectFlatPart, new { @class = "form-control" })
		</div>
	</div>

	<div id="buildingImage" class="col-xs-4"> </div>

	<div class="col-xs-4">
		<div id="map-canvas"></div>
	</div>
</div>

<div id="utilityDiv" style="visibility:hidden">
	<h3 class="header-bold">@Localization.MetersForThisAddress</h3>
	<table class="table" id="meters_table"></table>
</div>

<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
	<span class=" glyphicon glyphicon-arrow-left"></span> <strong>@Localization.BackToPreviousPage</strong>
</a>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/appJsScripts/_layout.js"></script>
<script src="~/Scripts/appJsScripts/findMeterByAddress.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7oyKXdpaKqurqotVj7_bhl9V9_7B5cMQ&libraries=places"></script>
<script src="~/Scripts/appJsScripts/googleMapScript.js"></script>
