@model TownUtilityBillSystemV2.Models.MeterModels.MeterModel
@using TownUtilityBillSystemV2.Resources;

@{
	ViewBag.Title = Localization.ShowSomeMeters;
}

<h2 class="header-bold">@Localization.UtilityMeters</h2>
<h4>@Localization.TotalQuantity: @Model.TotalCount</h4>
<div class="row">
	<div class="col-md-6 margin-top-20">
		<a href="@Url.Action("ShowAllMeters", "Meter")" class="btn btn-primary btn-large btn-block">
			<span class=" glyphicon glyphicon-plus-sign"></span> @Localization.ShowAllMeters
		</a>
		<a href="@Url.Action("CreateMeter", "Meter")" class="btn btn-primary btn-large btn-block">
			<span class=" glyphicon glyphicon-plus-sign"></span> @Localization.CreateNewMeter
		</a>
	</div>
	<div class="col-md-6 margin-top-20">
		<a href="@Url.Action("FindMetersByDetails", "Meter")" class="btn btn-primary btn-large btn-block">
			<span class=" glyphicon glyphicon-search"></span> @Localization.FindMeterByDetails
		</a>
		<a href="@Url.Action("FindMeterByAddress", "Meter")" class="btn btn-primary btn-large btn-block">
			<span class=" glyphicon glyphicon-search"></span> @Localization.FindMeterByAddress
		</a>
	</div>
</div>
<br />

<p align="center"><strong>@Localization.SomeRandomMeters</strong></p>

@Html.Partial("~/Views/Meter/_MetersTablePartial.cshtml", Model)

<hr />

<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
	<span class=" glyphicon glyphicon-arrow-left"></span> <strong>@Localization.BackToPreviousPage</strong>
</a>
