@model TownUtilityBillSystemV2.Models.MeterModels.MeterModel
@using TownUtilityBillSystemV2.Resources;

@{
	ViewBag.Title = Localization.ShowFoundMeters;
}

@if (Model.Meters.Count == 0)
{
	<h2>@Localization.NoAnyMeterIsFound</h2>
}

else if (Model.Meters.Count == 1)
{
	<h2>@Localization.FoundOneMeter</h2>
}
else
{
	<h2>@Localization.Found @Model.Meters.Count @Localization.Meters.ToLower()</h2>
}

<h4>@Localization.SearchFilter: <mark class="mark-yellow"> @ViewBag.SearchString </mark></h4>
@if (Model.Meters.Count != 0)
{
	@Html.Partial("~/Views/Meter/_MetersTablePartial.cshtml", Model)	
}

<a href="@Url.Action("FindMetersBy", "Meter")" class="btn btn-link btn-large">
	<span class=" glyphicon glyphicon-list"></span> <strong>@Localization.BackToList</strong>
</a>
<br />
<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
	<span class=" glyphicon glyphicon-arrow-left"></span> <strong>@Localization.BackToPreviousPage</strong>
</a>
