@using TownUtilityBillSystemV2.Resources

@{
	ViewBag.Title = Localization.ShowCustomerMenu;
}

<div class="jumbotron">
	<h3 class="header-bold">@Localization.Customers:</h3>
	<div class="row">
		<div class="col-md-6 margin-top-20">
			<a href="@Url.Action("ShowPrivateCustomers", "Customer")" class="btn btn-primary btn-large btn-block">
				<span class=" glyphicon glyphicon-user"></span> @Localization.PrivateCustomers
			</a>
			<a href="@Url.Action("ShowLegalCustomers", "Customer")" class="btn btn-primary btn-large btn-block">
				<span class=" glyphicon glyphicon-home"></span> @Localization.LegalCustomers
			</a>
		</div>
		<div class="col-md-6 margin-top-20">
			<a href="@Url.Action("FindCustomerBy", "Customer")" class="btn btn-primary btn-large btn-block">
				<span class=" glyphicon glyphicon-search"></span> @Localization.FindCustomer
			</a>
			<a href="@Url.Action("ShowAllCustomers", "Customer")" class="btn btn-primary btn-large btn-block">
				<span class=" glyphicon glyphicon-info-sign"></span> @Localization.AllCustomers
			</a>
		</div>
	</div>
	<hr />
	@Html.Partial("~/Views/Shared/_BackToPreviousPagePartial.cshtml")
</div>



