@model TownUtilityBillSystemV2.Models.CustomerModels.CustomerModel
@using TownUtilityBillSystemV2.Resources

@{
	ViewBag.Title = Localization.ShowLegalCustomers;

	int rowNumber = 1;
}

<h2>@Localization.LegalCustomers:</h2>
<h4>@Localization.TotalQuantity: @Model.Customers.Count</h4>
<div class="row">
	<div class="col-md-4 margin-top-20">
		<a href="@Url.Action("CreateCustomer", "Customer")" class="btn btn-primary btn-large btn-block">
			<span class=" glyphicon glyphicon-plus-sign"></span> @Localization.CreateNewCustomer
		</a>
	</div>
</div>
<br />
<table class="table">
	<tr>
		<th>#</th>
		<th>@Localization.AccountNum</th>
		<th>@Localization.Name</th>
		<th>@Localization.Email</th>
		<th>@Localization.Phone</th>
		<th>@Localization.Type</th>
		<th>@Localization.Balance, @Model.Currency.Name</th>
		<th>@Localization.Options</th>
	</tr>


	@foreach (var item in Model.Customers)
	{
		<tr>
			<td>@(rowNumber++)</td>
			<td>
				@Html.DisplayFor(model => item.Account.Number)
			</td>
			<td>
				@Html.DisplayFor(model => item.Surname) @Html.DisplayFor(model => item.Name)
			</td>

			<td>
				@Html.DisplayFor(model => item.Email)
			</td>
			<td>
				@Html.DisplayFor(model => item.Phone)
			</td>
			<td>
				@Html.DisplayFor(model => item.CustomerType.ResourceName)
			</td>
			<td>
				@Html.DisplayFor(model => item.Account.Balance)
			</td>

			<td>
				@Html.ActionLink(Localization.Details, "ShowDetailsForCustomer", new { customerId = item.Id }) |
				@Html.ActionLink(Localization.Bills, "ShowAllBillsForCustomer", "Bill", new { customerId = item.Id }, null) |
				@Html.ActionLink(Localization.Edit, "EditCustomer", new { customerId = item.Id }) |
				@Html.ActionLink(Localization.Delete, "DeleteCustomer", new { customerId = item.Id })
			</td>
		</tr>
	}
</table>

@Html.Partial("~/Views/Shared/_BackToPreviousPagePartial.cshtml")
